@use "./typography" as *;
@use "./colors" as *;
@use "./mixins" as *;
@use "./variables" as *;

.extendable-site-title {
  @include normalize-line-height-font-style;
  @include site-title;
}

.extendable-background-color {
  background-color: $white;
}

.extendable-background-color__hover {
  background-color: $sharp-purple;
}

@mixin extendable-burger-menu($top: -$unit-6px, $left: 0) {
  @extend .extendable-background-color;
  display: inline-flex;
  position: absolute;
  height: inherit;
  width: 0.625rem;
  content: "";
  left: $left;
  top: $top;
  bottom: 0;
  right: 0;
}

//***************** animate hand burger menu start

@keyframes hover-in-animation__before {
  0% {
    @include extendable-transform;
  }
  100% {
    @include extendable-transform__p100;
  }
}

@keyframes hover-in-animation__after {
  0% {
    @include extendable-transform;
  }
  100% {
    @include extendable-transform__n100;
  }
}

@keyframes hover-out-animation__before {
  0% {
    @include extendable-transform__p100;
  }
  100% {
    @include extendable-transform;
  }
}

@keyframes hover-out-animation__after {
  0% {
    @include extendable-transform__n100;
  }
  100% {
    @include extendable-transform;
  }
}

//***************** animate hand burger menu end

.site-title {
  @extend .extendable-site-title;
  cursor: pointer;

  &__purple {
    @extend .extendable-site-title;
    color: $sharp-purple;
  }
}

.hand-burger-container {
  @include extendable-flex-container;
  width: $unit-19px;
  height: $unit-14px;
  cursor: pointer;

  &:hover .hand-burger-menu {
    @extend .extendable-background-color__hover;
  }
  &:hover .hand-burger-menu:after {
    @extend .extendable-background-color__hover;
    animation: hover-in-animation__after $animation-timer $animation-function;
  }
  &:hover .hand-burger-menu:before {
    @extend .extendable-background-color__hover;
    animation: hover-in-animation__before $animation-timer $animation-function;
  }

  &:not(:hover) .hand-burger-menu:after {
    animation: hover-out-animation__after $animation-timer $animation-function;
  }
  &:not(:hover) .hand-burger-menu:before {
    animation: hover-out-animation__before $animation-timer $animation-function;
  }
}

.hand-burger-menu {
  @extend .extendable-background-color;
  transition: transform $transition-timer $transition-function,
    $transition-timer ease;
  transform: translateX(0);
  position: relative;
  height: $unit-3px;
  width: inherit;

  &:before {
    @include extendable-burger-menu();
  }
  &:after {
    @include extendable-burger-menu($unit-6px, $unit-9px);
  }
}
