@use "./fonts" as *;
@use "./colors" as *;
/**
* @Mobile typography
*/

@mixin normalize-line-height-font-style() {
  line-height: normal;
  font-style: normal;
}

@mixin site-title() {
  @include normalize-line-height-font-style();
  font-family: $font-family__primary;
  font-weight: $font-weight__700;
  font-size: $font-size__15px;
  color: $white;
}
