$unit-8px: 0.5rem;
$unit-19px: 1.1875rem;
$unit-14px: 0.875rem;
$unit-6px: 0.375rem;
$unit-9px: 0.5625rem;
$unit-10px: 0.625rem;
$unit-3px: 0.1875rem;
$unit-1px: 0.0625rem;
$unit-69px: 4.3125rem;
$unit-300px: 18.75rem;
$unit-327px: 20.4375rem;
$unit-442px: 27.625rem;

$animation-timer: 0.3s;
$animation-function: forwards;

$transition-timer: 0.6s;
$transition-function: ease;
